<!-- HEADER -->
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-binary-fill" viewBox="0 0 16 16">
          <path d="M5.526 10.273c-.542 0-.832.563-.832 1.612 0 .088.003.173.006.252l1.559-1.143c-.126-.474-.375-.72-.733-.72zm-.732 2.508c.126.472.372.718.732.718.54 0 .83-.563.83-1.614 0-.085-.003-.17-.006-.25l-1.556 1.146z"/>
          <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-2.45 8.385c0 1.415-.548 2.206-1.524 2.206C4.548 14.09 4 13.3 4 11.885c0-1.412.548-2.203 1.526-2.203.976 0 1.524.79 1.524 2.203zm3.805 1.52V14h-3v-.595h1.181V10.5h-.05l-1.136.747v-.688l1.19-.786h.69v3.633h1.125z"/>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>&nbsp;&nbsp;Administration</li>
      </ul>

      <div class="text-end">
        <a href="https://localhost:4200" target="_blank">
        <button type="button" class="btn btn-outline-light me-2">
          Storage
        </button>
        </a>
        <button (click)="logOut()" type="button" class="btn btn-warning">Log out</button>
      </div>
    </div>
  </div>
</header>
<!-- BODY -->
<div class="container">
  <div class="list-group" *ngIf="error != ''">
    <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6><b> {{ error }} </b></h6>
            </div>
        </div>
    </a>   
  </div>

  <ng-container >
    <div class="list-group">
        <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" *ngIf="users.length < 1 && noUsers != ''">
            <div class="d-flex gap-2 w-100 justify-content-between" >
                <div>
                    <!-- TODO: noUsers -->
                    <h6><b> {{ noUsers }} </b></h6>
                </div>
            </div>
        </a>

        <div class="list-group" *ngFor="let user of users">
            <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                      <ng-container *ngIf="!user.isManager">
                        <h6 class="mb-0"><b>{{ user.id }}</b></h6>
                        <hr>
                        <p class="mb-0 opacity-55">CAN CREATE: {{ user.canCreate }} <button style="float: right;" (click)="toggleCreate(user)">Toggle</button></p>
                        <hr>
                        <p class="mb-0 opacity-55">CAN READ: {{ user.canRead }} <button style="float: right;" (click)="toggleRead(user)">Toggle</button></p>
                        <hr>
                        <p class="mb-0 opacity-55">CAN UPDATE: {{ user.canUpdate }} <button style="float: right;"  (click)="toggleUpdate(user)">Toggle</button></p>
                        <hr>
                        <p class="mb-0 opacity-55">CAN DELETE: {{ user.canDelete }} <button style="float: right;" (click)="toggleDelete(user)">Toggle</button></p>
                        <hr>
                        <p class="mb-0 opacity-55">IP: <input type="text" [(ngModel)]="user.allowedDomain" [ngModelOptions]="{standalone: true}" [value]="user.allowedDomain"></p>
                        <hr>
                      </ng-container>
                        <p class="mb-0 opacity-55">ROOT: <input type="text" [(ngModel)]="user.rootDir" [ngModelOptions]="{standalone: true}" [value]="user.rootDir"></p>
                        <hr>
                        <button (click)="updateUser(user)">UPDATE</button>
                        <hr>
                    </div>
                </div>
            </a>
        </div>
    </div>
</ng-container>          
</div>
<!-- FOOTER -->
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-lg-start">
      <span class="text-muted">© University of Banja Luka: {{ (date.getDate() < 10 ? '0' : '') + date.getDate() }}.{{ (date.getMonth() + 1 < 10 ? '0' : '') + (date.getMonth() + 1) }}.{{ date.getFullYear() }}.</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-muted" href="https://etf.unibl.org/" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-question-octagon-fill" viewBox="0 0 16 16">
            <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM5.496 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z"/>
          </svg>
        </a>
      </li>
    </ul>
  </footer>
</div>